@use "_variables" as *;
@use "_mixins" as *;

.service {
  background-color: $color-bg-sub;
  overflow-x: hidden;
  padding: 50px 15px;

  &__inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
    padding-bottom: 60px;
    @include title-line(30px);

    @media (min-width: 768px) {
      @include title-line;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  &__card {
    width: 100%;
    background-color: $color-card-bg;
    border-radius: 16px;
    border: 1px solid #f7ede3;
    box-shadow: 0px 3px 6px 0px #00000040;
    overflow: hidden;
  }

  &__card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 30px 0px 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-border;
    line-height: 1.2;
  }

  &__card-text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 47px;
    margin: 15px 30px 47px 30px;
    line-height: 1.5;
    text-align: left;
  }

  @media (min-width: 768px) {
    padding: 60px;
    &__list {
      align-items: center;
    }
    &__card {
      width: 304px;
      height: 357px;
    }
  }
}
