/*color*/
$color-bg: #FCF3EF;
$color-bg-sub: #F8EFEA;
$color-header-bg: #F6EBE2;
$color-white: #FFFFFF;
$color-card-bg: #F7EDE3;
$color-text: #391D13;
$color-footer-bg: #634837;
$color-border: #C5B7AA;

/*fonts*/
$font-jp: 'Noto Serif JP';
